{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block
body %}
<div class="container my-3">
  <h2 class="aat">Add a &nbsp;{To-Do}</h2>
  <div class="center-div">
    <form action="/" method="POST">
      <div class="mb-3">
        <label for="title" class="form-label">Todo Title:</label>
        <input
          type="text"
          class="form-control"
          name="title"
          id="title"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Todo Description:</label>
        <input type="text" class="form-control" name="desc" id="desc" />
      </div>
      <button type="submit" class="btn1" onclick="validateForm()">
        Submit
      </button>
    </form>
  </div>
  <div class="conta">
    <h2 class="aatd">Your ToDo(s)</h2>
    {% if allTodo|length == 0 %}
    <div class="alert" role="alert">
      No To-do's found.. Add your first to-do now!!
    </div>
    {% else %}
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SNo</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for todo in allTodo %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{todo.title}}</td>
            <td>{{todo.desc}}</td>
            <td>
              <a href="/update/{{todo.sno}}" type="button" class="btn2"
                >Update&nbsp;</a
              >
              <a href="/delete/{{todo.sno}}" type="button" class="btn2"
                >Delete&nbsp;</a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </div>
</div>
{% endblock body %}
